h1{
  color: blue;
}

h2{
  color: red;
  font-style: oblique;
  text-align: center;
}

p.intro {
  font-family: sans-serif;
  font-style: italic;
  width: 50%
}

p.author {
  font-family: cursive;
  font-style: oblique;
  width: 50%
}

ul{
  font-size: px
}
